* {
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
}

body {
    background-color: black;
    margin: 0;
    text-align: center;
}

.header {
    border-bottom: 1px solid seashell;
    background-color: black;
    opacity: 1;
    height: 69px;
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo {
    height: 50px;
    padding-left: 10px;
}

.navigation li {
    display: inline-block;
    text-decoration: underline;
    margin: 10px;
    color: seashell;
}

.navigation a:hover {
    color: aqua;
}

.banner {
    height: 700px;
    margin: 70px 0px;
    background-image: url(../images/img-mission-background.jpg);
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h2 {
    margin-bottom: 15px;
}

.banner-text {
    background-color: black;
    opacity: 1;
    padding: 10px;
}

.tea {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    display: flex;
    margin: 20px 100px;
}

.tea img {
    height: 200px;
    width: 300px;
    margin: 25px;
    margin-bottom: 10px;
}

.location {
    background-image: url(../images/img-locations-background.jpg);
    height: 500px;
    margin: 20px 0px 2px 0px;
    background-size: cover;
    padding: 0 20px;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text-location {
    font-weight: bold;
    padding-top: 50px;
    background-color: transparent;
    background: transparent;
    font-size: 29px;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 40px;
    height: auto;
}

.box {
    width: 300px;
    background-color: black;
    opacity: 1;
}

.footer {
    display:flex;
    flex-direction: column;
}

.contact {
    height: 150px;
}

.copyright {
    text-align: left;
    padding-left: 20px;
}